body
{
    background-color: rgb(0, 0, 36);
    color: rgb(0, 0, 36);
}

.header
{
    color: aliceblue;
    background-color: rgb(0, 0, 36);
}

.btn-danger
{
    border: unset;
    background-color: rgb(127, 0, 0);
}